/*
* Fuentes
*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');


/*
* Estilos base
*/

body {
    background-color: antiquewhite;
    margin: 120px 0 0 0;
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

p {
    color: black;
    font-size: 15px;
}

strong {
    font-weight: 700;
}

h1, h2, h3 {
    font-family: "Bree Serif", serif;
}

section {
    padding: 30px 0;
}

section h2 {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}

/*
* Clases comunes
*/

.texto-blanco {
    color: white;
}

/*
* Newsletter
*/

#newsletter {
    background-color: aqua;
    height: 500px;
    width: 500px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    left: calc(50% - 250px);
    top: 700px;
    display: none; /* Agregué display:none para que no aparezca */
}

/*
* Header
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    padding-right: 20px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    color: #63d196;
    text-decoration: underline;
}

header .logo {
    width: 250px;
}

header button {
    display: none;
}

@media (max-width: 768px) {

    header nav {
        background-color: white;
        position: absolute;
        left: 0;
        top: 120px;
        width: 100%;
    }

    .oculto {
        display: none;
    }
    
    header nav ul {
       flex-direction: column;
    }

    header nav ul li {
        text-align: right;
        margin-bottom: 30px;
        padding-right: 30px;
    }

    header button {
        background-color: transparent;
        border: 0;
        display: block;
    }

    header button i {
        font-size: 30px;
    }

}

/*
* Presentacion
*/
 
#presentacion {
    background-image: url('img/banner.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#presentacion h1 {
    color: white;
    text-align: center;
    font-size: 80px;
    position: relative;
}

#presentacion h1 strong {
    background-color: #010101;
}

#presentacion .cuadrado {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.5;
}

@media (max-width: 768px) {

    #presentacion h1 {
        font-size: 50px;
    }
    
}

/*
* Curso
*/

#curso h2 {
    background-color: #63d196;
    margin: 20px auto; /* Top-bottom 20px left-right auto para que se centre */
    text-align: center;
    width: 200px;
}

#curso img {
    width: 100px;
}

#curso .contenedor-iconos {
    display: flex;
    justify-content: space-evenly;
}

#curso button {
    background-color: #63d196;
    color: black;
    font-size: 20px;
    display: block;
    margin: 50px auto 0;
    padding: 10px 0;
    width: 300px;
    border-radius: 20px;
    border: 0;
}

/*
* Programa
*/

#programa {
    background-color: #63d196;
}

#programa .contenedor-programa {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    max-width: 1200px;
    margin: auto;
}

#programa .contenedor-programa div {
    width: 45%;
    padding: 0 20px;
}

#programa .contenedor-programa div h3,
#programa .contenedor-programa div p {
    color: white;
    text-align: center;
}

@media (max-width: 900px) {

    #programa .contenedor-programa {
        display: block;
    }

    #programa .contenedor-programa div {
        width: 100%;
    }

}

/*
* Footer
*/
footer {
    display: flex;
    padding: 30px 50px;
    align-items: center;
    justify-content: space-between;
}

footer .social ul {
    display: flex;
    list-style: none;
}

footer .social ul i {
    font-size: 30px;
    color: #63d196;
}

footer .social ul a:hover i {
    opacity: .5;
}

footer p {
    text-align: right;
}

footer .mail {
    color: #63d196;
}

@media (max-width: 768px) {

    footer {
        display: block;
    }

    footer .social ul {
        padding-left: 0;
    }

    footer p {
        text-align: left;
    }

    
}









