body {
    background-color: antiquewhite;
}

#presentacion {
    background-image: url('img/banner.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#presentacion h1 {
    color: blueviolet;
    font-size: 20px;
}

#presentacion h1 strong {
    background-color: gray;
}

#programa {
    background-color: #63d196;
}